.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
}

.baloon {
  position: absolute;
  left: 255px;
  height: 100px;
  top: 150px;

}

.speach {
  font-size: 13px;
  position: absolute;
  left: 264px;
  top: 165px;
  z-index: 5;

}

.bowser {
  width: 200px;
  position: absolute;
  margin-left: 400px;
  top: 200px;
  z-index: 4;
}